<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>insert_student</h1>
        <form method="POST">
        {% csrf_token %}
        <label for="scn">School Name:</label>
        <input type="text" name="sln" id="scn" ><br><br>

        <label for="sid">Student ID:</label>
        <input type="number" name="sid" id="sid" ><br><br>

        <label for="sn">Student Name:</label>
        <input type="text" name="stn" id="sn" ><br><br>

        
        
       

        
        
        <input type="submit">
        </form>
    </center>
    
</body>
</html>